{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        [
            "component",
            [{
                "libraryName": "weex-ui",
                "libDir": "packages",
                "style": false
            },
            {
                "libraryName": "tesla-mui",
                "libDir": "packages",
                "style": false
            },
            {
                "libraryName": "tesla-native-js",
                "libDir": "",
                "style": false
            },
            {
                "libraryName": "tesla-native-js-browser",
                "libDir": "",
                "style": false
            }]
        ]
}